[submodule "shopping-cart-tdd"]
	path = shopping-cart-tdd
	url = https://github.com/tonybaines/shopping-cart-tdd.git
[submodule "FizzBuzz"]
	path = FizzBuzz
	url = https://github.com/tonybaines/FizzBuzz.git
[submodule "tdd-mock-objects"]
	path = tdd-mock-objects
	url = https://github.com/tonybaines/tdd-mock-objects.git
